html{
    margin: 0;
}
/*Shared header*/
header{
    color: #FFE98A;
    background-color: #280B45;
    margin: 0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Tilt Neon', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Advent Pro', sans-serif;
    font-size: 5rem;
    font-weight: bold;

}
h2{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}
ul{
    list-style-type: none;    
}
hr{
    margin: 5%;
}

/*Main part1*/
.profile{
    display: block;
    width: 30%;
    margin: auto; 
    margin-top: 50px;
    text-align: center;
}
.profile img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
/*Main part2*/
.skills{
    font-size: larger;
    font-weight: bold;
    font-family: 'Advent Pro', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 150px;
    align-items: center;
    justify-content: center;
}
.container img{
    width: 50%;
}
.tile{
    font-size: 4rem;
    font-weight: lighter;
}
.right{
    text-align: left;
}
.left{
    text-align: right;
}

/*Main part3*/
.contact{
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

footer{
    background-color: #280B45;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer img{
    width: 20px;
}
footer a{
    color: black;
    text-decoration: none;
}

/*Galery formating*/
.galery{
    display: grid;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.galery img{
    width: 200px;
}


/*Media querry*/

@media (max-width: 1050px) {
    .galery{
        grid-template-columns: 1fr 1fr 1fr;

    }
    
}
@media (max-width: 650px) {
    .container{
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .container img{
        visibility: hidden;
    }
    .right{
        grid-row: 1;
        text-align: center;
    }
    .left{
        text-align: center;
    }
    
    .galery{
        grid-template-columns: 1fr 1fr;
        
        margin-left: 5%;
        margin-right: 5%;
        
    }
}

@media (max-width: 390px) {
    .galery{
        grid-template-columns: 1fr;
        margin-left: 0%;
        margin-right: 0%;
    }
    
}



/*
https://colorhunt.co/palette/b2a4ffffb4b4ffdeb4fdf7c3
https://colorhunt.co/palette/b983ff94b3fd94daff99feff
https://colorhunt.co/palette/280b4561105ec84771ffe98a
*/