html{
    margin: 0;
}

header{
    color: #FFE98A; /*barva písma v hlavičce*/
    background-color: #280B45;/*barva pozadí v hlavičce*/
    margin: 0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Tilt Neon', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Advent Pro', sans-serif;
    font-size: 5rem;
    font-weight: bold;

}
h2{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}
ul{
    list-style-type: none;    
}
hr{
    margin: 5%;
}

/*Main part1*/
.profile{
    display: block;
    width: 30%;
    margin: auto; 
    margin-top: 50px;
    text-align: center;
}
.profile img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

/*Main part2*/
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Advent Pro', sans-serif;
    gap: 100px;

}
.skills img{
    width: 50vh;
    border-radius: 10px;

}
.tile{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    overflow: hidden;
    height: 15%;
    width: 600px;
    font-size: 4rem;
    font-weight: lighter;
}
.tile p{
    margin: 10px;
}


.tile:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color:#280B45;
    color: #FFE98A;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
/*Main part3*/
.contact{
    display: block;
    text-align: center;
    margin-bottom: 5%;
}
.contact a:hover{
    transition: color 0.2s ease-in-out;
    color:#FFE98A;
}

footer{
    background-color: #280B45;/*barva pozadí v hlavičce*/
    color: #FFE98A;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer img{
    width: 20px;
}
footer a{
    color: black;
    text-decoration: none;
}



/*Media querry*/

@media (max-width: 650px) {
    .skills{
        gap: 30px;

    }
    .tile{
        height: 15%;
        width: 100%;
        align-self: center;
        font-size: 3rem;
    }
    

}



/*
https://colorhunt.co/palette/b2a4ffffb4b4ffdeb4fdf7c3
https://colorhunt.co/palette/b983ff94b3fd94daff99feff
https://colorhunt.co/palette/280b4561105ec84771ffe98a
*/